@import '../src/Styles/Global/color.scss';
@import '../src/Styles/Global/spacing.scss';

.App {
  text-align: center;
  background-color: $grey-2;
  height: 100vh;
}

.OrderbookContainer {
  margin: 0 auto;
  width: 350px;
  background-color: $background__darkBlue;

  &__title {
    color: $white;
    text-align: left;
    font-size: 15px;
    min-height: $default_header_height;
    min-width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    font-weight: bold;
  }

  &__item {
    color: $grey-3;
    &__header {
      display: flex;
      justify-content: space-between;
      padding: 10px 10px 0;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
